.vscode
/packages
IntelRDFPMathLib20U1
*.d
*.o
*.a
free42bin
free42dec
# symlinks
gtk/core_commands7.h
gtk/core_display.h
gtk/core_keydown.cc
gtk/keymap2cc.cc
gtk/core_tables.cc
gtk/core_main.h
gtk/core_commands5.cc
gtk/core_variables.h
gtk/core_globals.h
gtk/shell_loadimage.cc
gtk/core_commands4.cc
gtk/skin2cc.cc
gtk/core_commands4.h
gtk/readtest.c
gtk/core_helpers.cc
gtk/core_phloat.cc
gtk/core_commands2.cc
gtk/core_commands6.cc
gtk/core_commands2.h
gtk/core_linalg1.cc
gtk/core_commands5.h
gtk/core_sto_rcl.h
gtk/skin2cc.conf
gtk/core_phloat.h
gtk/core_linalg2.h
gtk/core_commands7.cc
gtk/core_commands1.cc
gtk/core_commands6.h
gtk/core_math1.cc
gtk/core_commands1.h
gtk/core_commands3.h
gtk/shell_spool.cc
gtk/core_tables.h
gtk/core_commands3.cc
gtk/bid_conf.h
gtk/bid_functions.h
gtk/core_aux.cc
gtk/core_aux.h
gtk/core_display.cc
gtk/core_main.cc
gtk/core_sto_rcl.cc
gtk/core_math2.cc
gtk/core_linalg1.h
gtk/core_variables.cc
gtk/core_helpers.h
gtk/core_globals.cc
gtk/core_keydown.h
gtk/core_linalg2.cc
gtk/shell_spool.h
gtk/core_math2.h
gtk/core_math1.h
gtk/free42.h
gtk/shell.h
gtk/shell_loadimage.h

# generated code
gtk/keymap.cc
gtk/keymap2cc
gtk/readtest_lines.cc
gtk/skin2cc
gtk/skins.cc
gtk/symlinks

# unused in master
skins/free42skins